.footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.ghLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.ghImg {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.6s ease-in-out;
}

.ghImg:hover {
    transform: rotate(360deg);
    background-color: rgb(198, 245, 198);
}

.footTxt {
    font-size: 1.5rem;
}

