.header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.title {
    font-size: 5rem;
    color: white;
    font-weight: 700;
}