.inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10%;
    width: 30%;
}

@media (max-width: 1600px) {
  .inputs {
    min-width: 30%;
    max-width: 35%;
  }
}

@media (max-width: 1400px) {
  .inputs {
    min-width: 40%;
    max-width: 45%;
  }
}

@media (max-width: 1200px) {
  .inputs {
    min-width: 50%;
    max-width: 55%;
    padding-left: 5%;
  }
}

@media (max-width: 1000px) {
    .inputs {
      min-width: 60%;
      max-width: 65%;
      padding-left: 0;
    }
}

@media (max-width: 800px) {
    .inputs {
        min-width: 70%;
        max-width: 75%;
      }
}

@media (max-width: 600px) {
    .inputs {
        min-width: 77.5%;
        max-width: 80%;
      }
}

@media (max-width: 450px) {
    .inputs {
        min-width: 82.5%;
        max-width: 85%;
      }
}

@media (max-width: 375px) {
    .inputs {
        min-width: 87.5%;
        max-width: 90%;
      }
}
