.previewCV {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 675px;
    min-height: 80vh;
    height: 80vh;
    background-color: rgb(207, 207, 207);
    position: fixed;
    margin-top: 0%;
    margin-left: 50%;
}

.sidebarWrap {
    background-color: black;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainSubWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px;
}

@media (max-width: 800px) {
    .previewCV {
        transform: scale(0.9);
      }
}

@media (max-width: 700px) {
    .previewCV {
        transform: scale(0.75);
        flex-shrink: 0;
      }
}

@media (max-width: 600px) {
    .previewCV {
        transform: scale(0.675);
        flex-shrink: 0;
      }
}

@media (max-width: 510px) {
    .previewCV {
        transform: scale(0.6);
        flex-shrink: 0;
      }
}

@media (max-width: 450px) {
    .previewCV {
        transform: scale(0.525);
        flex-shrink: 0;
      }
}

@media (max-width: 375px) {
    .previewCV {
        transform: scale(0.45);
        flex-shrink: 0;
      }
}

@media (max-width: 315px) {
    .previewCV {
        transform: scale(0.365);
        flex-shrink: 0;
      }
}