.previewCV {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-width: 675px;
    width: auto;
    min-height: 80vh;
    height: auto;
    background-color: rgb(207, 207, 207);
    position: fixed;
    margin-top: 0;
    margin-left: 50%;
}

.sidebarWrap {
    background-color: black;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainSubWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px;
}

@media (max-width: 1400px) {
    .previewCV {
        transform: scale(0.9);
      }
}

@media (max-width: 1200px) {
    .previewCV {
        transform: scale(0.75);
        flex-shrink: 0;
      }
}

@media (max-width: 1000px) {
    .previewCV {
        transform: scale(1);
        position: relative;
        margin-left: 0;
      }
}

@media (max-width: 800px) {
    .previewCV {
        transform: scale(0.9);
        position: relative;
        margin-left: 0;
      }
}

@media (max-width: 600px) {
    .previewCV {
        transform: scale(0.75);
        position: relative;
        margin-left: 0;
      }
}

@media (max-width: 400px) {
    .previewCV {
        transform: scale(0.675);
        position: relative;
        margin-left: 0;
      }
}