.previewCV {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 675px;
    min-height: 80vh;
    height: 80vh;
    background-color: rgb(207, 207, 207);
}

.sidebarWrap {
    background-color: black;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainSubWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px;
}